<!DOCTYPE html>

<html>
        <head>
            <meta charset="utf-8"> 
            <title>Home</title>
            <link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
        </head>

		<body>
		<div class=""container"">
	 	<h1><a href=""#"">The Social Issue Network</a></h1>
		      <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">
                    <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Issues</a></li>
                    </ul>
                  </div>
              </div>
          </div>

     
          <div class="hero-unit">
          <h1>What Is This About?</h1>
 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 
          <a href="#" class="btn btn-large btn-success">Get Started</a>
          </div>
    

          <div class="row">
            <div class="span4">
             <p><ul class="nav nav-list">
    <li class="nav-header">What we are?</li>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Start a Thread</a></li>
    <li><a href="#">Look at Legislation</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
</ul></p>
          </div>
            <div class="span6">
             <p>
             	<h3>Tell Us About YOU</h3>
 				
 				<div id="parent">
				    <div class="image"><img src="http://www.math.com/school/subject3/images/S3U1L6GLcircle.gif" width="200" height="300"></div>
				   	<div class="image"><img src="http://www.math.com/school/subject3/images/S3U1L6GLcircle.gif" width="200" height="300"></div>
				    <div class="image"><img src="http://www.math.com/school/subject3/images/S3U1L6GLcircle.gif" width="200" height="300"></div>
				    <div style="clear:both"></div>
				</div>



			</p>
          </div>
     </div>














			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
			<script src="js/bootstrap.js"></script>
		</body>

</html>